<% if user_session.logged_in? %>
  <p> Welcome <%= user_session.current_user.name %>!</p>
<% end %>

<form action="/api/sessions" method="post">
  <input type="text" class="text" value="" name="user[name]">
  <input type="submit" class="text" value="Submit" name="">
</form>
