.admin {
  max-width: 600px;
}

.links {
  background-color: #F3F3F3;
  padding: 75px 3%;
  border-bottom: 1px solid rgba(0,0,0,0.5);
}

.links__content {
  margin: 0 auto;
  max-width: 600px;
}

.admin__create {
  background-color: #F3F3F3;
  text-align: left;
  padding: 25px;
  margin-bottom: 75px;
}

.admin__close {
  margin-left: 50px;
}

.admin__add {
  margin-bottom: 75px;
}