@import "../../_frame/config";

.header {
  display: flex;
  height: 47px;
  justify-content: center;
  align-items: center;
  background-color: $color--primary;
  color: $color--light;
  font-size: 1.714rem;
  font-family: $font__family--heading;
}