/**
 * Color
 */
$color--primary: #4990E2;
$color--dark: #4A4A4A;
$color--light: #ffffff;
$color--done: #00D296;
$color--progress: #FFB500;

/**
 * Font
 */
$font__family--heading: "Mr Dafoe", "Trebuchet MS", Tahoma, sans-serif;
$font__family--text: "Roboto", "Trebuchet MS", Tahoma, sans-serif;

/**
 * Size
 */
$size--mobile: 14px;
$size--tablet: 14px;
$size--desktop: 14px;

/**
 * Breakpoints
 */
$width--mobile: 480px;
$width--tablet: 920px;

@mixin mobile {
  @media (max-width: #{$width--mobile}) {
    @content;
  }
}
@mixin mobile-tablet {
  @media (max-width: #{$width--tablet}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$width--mobile + 1px}) and (max-width: #{$width--tablet}) {
    @content;
  }
}
@mixin tablet-desktop {
  @media (min-width: #{$width--mobile + 1px}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$width--tablet + 1px}) {
    @content;
  }
}