@import "reset";
@import "config";

html,
body {
  -webkit-text-size-adjust: none; /** Prevent font scaling in landscape */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color--light;
  font-family: $font__family--text;
  font-size: $size--mobile;
  height: 100%;
  color: $color--dark;

  @include tablet {
    font-size: $size--tablet;
  }

  @include desktop {
    font-size: $size--desktop;
  }
}

::-moz-selection {
  color: $color--light;
  background-color: $color--primary;
}
::selection {
  color: $color--light;
  background-color: $color--primary;
}