@import "../../_frame/config";

.button {
  cursor: pointer;
  display: inline-block;
  font-family: $font__family--text;
  font-size: 1rem;
  height: 38px;
  line-height: 38px;
  padding: 0 30px;
  user-select: none;
  white-space: nowrap;
  margin-top: 10px;
}

.button--primary {
  background-color: $color--primary;
  color: $color--light;
}

.button--secondary {
  background-color: transparent;
  color: $color--primary;
  padding: 0;
}